<table id="message-info">
    <tr>
        <td>ip</td>
        <td>{{ message.clientIp }}</td>
    </tr>
    <tr>
        <td>created At</td>
        <td>{{ message.createdAt|date }}</td>
    </tr>
    <tr>
        <td>email</td>
        <td>{{ message.email }}</td>
    </tr>
</table>
<style>
    #message-info {
        padding: 10px 5px;
    }
</style>
